<div id = "dashboard">
<%= render 'layouts/dashboard_nav' %>
<div id = "dashboard_content">
<% if current_user.subscription %>
List Plan Links Here:
<br></br>
<% @plans.each do |plan| %>
	<% if plan == @user_plan%>
		<br><%= "Your signed up for the " + plan.name + " plan."%></br>
	<% else %>
	<br><%= link_to plan.name, edit_subscription_path(current_user.subscription, :plan_id => plan.id)%></br>
	<% end %>
<% end %>

<br></br>
1. Link on index page for example:
2. <%= link_to "Sign up", new_subscription_path(:plan_id => @user_plan.id) %>
3. Show if the plan is the existing user's plan

<% else %>

You're not signed up for any plans at the moment.
Sign Up Here: <%= link_to "Check out the plans", plans_path %>
<% end %>
</div>
</div>