    <section id="page">
        <section class="inner_page">
            <aside class="sidebar">
                <ul>
                    <li><%= link_to "Subscription", "/dashboard", :class => "active"%></li>
                    <li><%= link_to "Shipping", edit_user_registration_path%></li>
                    <li><%= link_to "Payment", '/edit_payment'%></li>
                    <li><%= link_to "Taste Profile", '/taste_profile'%></li>
                    <li><%= link_to "Password", '/edit_password'%></li>
                </ul>
            </aside>
            <section class="form_sec">
                <% if current_user.subscription %>
				<div id = "vinyl_plans">
				<% @plans.each do |plan| %>
					<% if plan == @user_plan%>
						<div id ="your_plan">
							<%= image_tag("ninja.png") %>
							<%= plan.name + " (your plan)" %>
						</div>
					<% else %>
					<div id ="other_plan">
						<%= image_tag("ninja.png") %>
						<%= link_to plan.name, edit_subscription_path(current_user.subscription, :plan_id => plan.id)%>
					</div>
					<% end %>
				<% end %>
					</div>
					</div>

				<% else %>

				You're not signed up for any plans at the moment.
				Sign Up Here: <%= link_to "Check out the plans", plans_path %>
				1. Link on index page for example:
			
				<% end %>
            </section>
			
        </section>
    </section>
