<section id="page">
    <section class="inner_page">
        <aside class="sidebar">
            <ul>
                <li><%= link_to "Subscription", "/dashboard"%></li>
                <li><%= link_to "Shipping", edit_user_registration_path%></li>
                <li><%= link_to "Payment", '/edit_payment'%></li>
                <li><a href="#">Taste Profile</a></li>
                <li><%= link_to "Password", '/edit_password', :class => "active"%></li>
            </ul>
        </aside>
        <section class="form_sec">
                <fieldset>
                    <div class="row">
                        <h2>Edit <%= resource_name.to_s.humanize %></h2>
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
					<%= devise_error_messages! %>

						  <div class="row"><%= f.label :email %><i>(leave blank if you don't want to change it)</i><br />
						  <%= f.email_field :email, :class => "textbox" %></div>

						  <div class="row"><%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
						  <%= f.password_field :password, :class => "textbox" %></div>

						  <div class="row"><%= f.label :new_password_confirmation %><br />
						  <%= f.password_field :password_confirmation, :class => "textbox" %></div>

						  <div class="row"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
						  <%= f.password_field :current_password, :class => "textbox" %></div>

						  <div><%= f.submit "Update", :class => "save" %></div>
						<% end %>

						<h3>Cancel my account</h3>

						<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

						<%= link_to "Back", :back %>
                    </div>
                    
                </fieldset>
            </form>
        </section>

    </section>
</section>
