<section id="page">
    <section class="inner_page">
        <aside class="sidebar">
            <ul>
                <li><%= link_to "Subscription", "/dashboard"%></li>
                <li><%= link_to "Shipping", edit_user_registration_path, :class => "active"%></li>
                <li><%= link_to "Payment", '/edit_payment'%></li>
                <li><%= link_to "Taste Profile", '/taste_profile'%></li>
                <li><%= link_to "Password", '/edit_password'%></li>
            </ul>
        </aside>
        <section class="form_sec">
                <fieldset>
                    <div class="row">
                        <h2>Shipping Information</h2>
						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
						  <%= devise_error_messages! %>

						  <div class="row"><%= f.label :address %><br />
						  <%= f.text_field :address, :class => "textbox" %></div>

						  <div class="row"><%= f.label :city %> <br />
						  <%= f.text_field :city, :class => "textbox" %></div>

						  <div class="row"><%= f.label :state %><br />
						  <%= f.text_field :state, :class => "textbox" %></div>

						  <div class="row"><%= f.label :zip_code %> <br />
						  <%= f.text_field :zip_code, :class => "textbox" %></div>

						 <div class="row"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
						  <%= f.password_field :current_password, :class => "textbox" %></div>

						  <div><%= f.submit "Update", :class => "save" %></div>
						<% end %>
                    </div>
                </fieldset>
            </form>
        </section>

    </section>
</section>
