<section id="page">
    <section class="inner_page">
        <aside class="sidebar">
            <ul>
                <li><%= link_to "Subscription", "/dashboard"%></li>
                <li><%= link_to "Shipping", edit_user_registration_path%></li>
                <li><%= link_to "Payment", '/edit_payment'%></li>
                <li><%= link_to "Taste Profile", '/taste_profile', :class => "active"%></li>
                <li><%= link_to "Password", '/edit_password'%></li>
            </ul>
        </aside>
        <section class="form_sec">
                <fieldset>
                    <div class="row">
					<%= form_for @user do |f| %>

						  <div class="row"><%= f.label :tag_names %><i>(leave blank if you don't want to change it)</i><br />
						  <%= f.text_field :tag_names, :class => "textbox" %></div>

						  

						  <div><%= f.submit "Update", :class => "save" %></div>
						<% end %>

						
                    
                </fieldset>
            </form>
        </section>

    </section>
</section>