<div id="plans">
  <% @plans.each do |plan| %>
    <div class="plan">
      <div class="details">
		<div class = "plan_image">
			<%= image_tag("ninja.png") %>
		</div>
		<div class="name"><%= plan.name %></div>
        <div class="price">
          <%= number_to_currency plan.price, :precision => 0 %>
        </div>
        <div class="per_month">per month</div>
        <div class="kisses"><%= plan.kisses %> Records</div>
        <div class="per_month">per month</div>
        <div class="signup">
          <%= link_to "Sign up", new_subscription_path(:plan_id => plan.id), :class => "redbtn" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
